In [1]:
import pandas as pd

In [2]:
ds=pd.read_csv("employee.csv")
ds

        Name           feedback  type
0      Surya  delivered on time     1
1     Suresh     delivered late     0
2    Sandeep  delivered quickly     1
3     Harish      he was humble     1
4     Rupesh  delivered quickly     1
..       ...                ...   ...
205      Sai  pathetic delivery     0
206   Charan   on time delivery     1
207    Shiva  very poor service     0
208  Santosh         worst food     0
209     Ravi     delivered fast     1

[210 rows x 3 columns]

In [3]:
j=0
a=[]
for i in range(0,210):
    c=0
    for k in range(0,j):
        if(ds['Name'][i]==a[k]):
            c=c+1
            break
    if(c==0):
        a.append(ds['Name'][i])
        j=j+1

In [4]:
b=[]
c=[]
d=[]
for k in range(0,j):
    c1=0
    c2=0
    for i in range(0,210):
        if(ds['Name'][i]==a[k]):
            if(ds['type'][i]==1):
                c1+=1
            else:
                c2+=1
    c3=c1+c2
    b.append(c1)
    c.append(c2)
    d.append(c3)

In [5]:
n=b[0]
for i in range(0,j):
    if(b[i]>n):
        n=b[i]

In [6]:
x=[]
m=0
for i in range(0,j):
    if(b[i]==n):
        x.append(i)
        m+=1

In [7]:
k=0
for i in range(0,m):
    n=x[i]
    if(d[n]>k):
        k=d[n]
        p=n

In [8]:
print(a[p],b[p],c[p])

Saitej 6 5